#wrapper{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

select,input.txtDatos,#btnRegistrar {
	width:200px;
}

#datosRestaurante, #datosEnComun, #datosCliente, 
{
	display:none;
}

#menu {
	width:199px;
	float:left;
}

#mainContent {
	width:600px;
	float:right;
}

#menu ul{
	list-style-type:none;
	text-align:left;
}

#menu {
	border-right: 1px solid;
}

table{
	text-align:center;
	border:1px solid;
	width:500px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	border-radius:10px;
}

 th{
	font-size:20px;
	border-bottom:1px solid;
}