body {
	font-family: 'Quicksand', sans-serif;
	/*background: #F4FFDD;
	background:#EFFEEF;*/
	background:#D8F2EF;
}
#wrapper{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

span#isAvailable{

}

#datosRestaurante, #datosEnComun, #datosCliente{
	display:none;
}


#menu ul{
	margin-left: 0;
	padding-left: 0;
	display: inline;
	border: none;
}

#menu {
	padding: 3px;
	margin-bottom: 25px;
	border-bottom: 1px solid;
	}
 

#menu ul li {
	margin-left: 0;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	list-style: none;
	display: inline;
	border-left:1px solid;
	border-right:1px solid;
	}


/*DE RAPIDO*/
label {
	font-size:30px;
}

input.login {
	width:300px;
}

#btnLogin{
	width:150px;
	margin-left:150px;
	margin-top:20px;
}

div#buttons{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	padding-bottom:20px;
}

div#buttons div#left input{
	width:140px;
	float:left;
	margin-right:10px;
}

div#buttons div#right input{
	width:140px;
	float:right;
	margin-left:10px;
}

div#busqueda{
	padding:10px;	
}

div.restaurant{
	text-align:center;
	border:1px solid;
	width:500px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	border-radius:10px;
	margin-bottom:10px;
}

div.restaurant div.left {
	width:250px;
	float:left;
}

div.restaurant div.right {
		width:250px;
	float:left;
}

div.restaurant div.masInfo,div#clear {
	clear:both;
}

div#comments {
	border:1px solid;
}

div#comments input{
	width:200px;
	margin-left:500px;
	margin-bottom:10px;
}

div#platillo{
	width:500px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid;
	margin-bottom:10px;
}

div#nav {
	width:200px;
	float:left;
	border-right:1px solid;
}

div#subContent {
	width:599px;
	float:right;
}

ul.verticalMenu{
	text-align:left;
}

/*misPedidos.php*/
div.pedido{
	width:400px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	border-bottom:1px solid;
	text-align:left;
	border-radius:10px;
}


div.timestamp{
	text-align:right;
}

div.notas{
	border:1px solid;
	padding:5px;
}

big.alert{
	color:red;
}

div.atendido{
	text-align:right;
	margin-top:5px;
}

i.right{
	text-align:right;
}

i.left{
	text-align:left;
}

div.item{
	margin-top:5px;
	margin-bottom:5px;
	width:300px;
	margin-left:auto;
	margin-right:auto;
}

div.item div.left{
	float:left;
	width:50%;
}

div.item div.right{
	float:right;
	width:50%;
	text-align:right;
}

div.total{
	text-align:right;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	border-top:1px solid;
}

/* editarMenu.php */
div#menuRestaurant{
	text-align:center;
}

div#menuRestaurant table{
	width:400px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
}

div#menuRestaurant td,div#menuRestaurant th{
	border-bottom:1px solid;
}

div#edicion{
	border-bottom: 2px dotted;
	margin-bottom: 20px;
	padding:10px;
}